In [326]:
import pandas as pd
import numpy as np
aq= pd.read_csv('C:/Users/Dell/Air_QualityCopyV2.csv')
print(aq)

,indicator_data_id,indicator_id,name,Measure,geo_type_name,geo_entity_id,geo_entity_name,year_description,data_valuemessage
0,130728,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,Borough,1,Bronx,2005,2.8
1,130729,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,Borough,2,Brooklyn,2005,2.8
2,130730,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,Borough,3,Manhattan,2005,4.7
3,130731,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,Borough,4,Queens,2005,1.9
4,130732,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,Borough,5,Staten Island,2005,1.6
5,130727,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,Citywide,1,New York City,2005,2.9
6,130685,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,101,Kingsbridge - Riverdale,2005,2.9
7,130686,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,102,Northeast Bronx,2005,2.8
8,130687,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,103,Fordham - Bronx Pk,2005,2.7
9,130688,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,104,Pelham - Throgs Neck,2005,2.7
10,130689,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,105,Crotona -Tremont,2005,3.0
11,130690,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,106,High Bridge - Morrisania,2005,3.0
12,130691,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,107,Hunts Point - Mott Haven,2005,2.8
13,130692,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,201,Greenpoint,2005,3.7
14,130693,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,202,Downtown - Heights - Slope,2005,3.7
15,130694,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,203,Bedford Stuyvesant - Crown Heights,2005,2.5
16,130695,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,204,East New York,2005,2.3
17,130696,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,205,Sunset Park,2005,3.2
18,130697,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,206,Borough Park,2005,2.5
19,130698,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,207,East Flatbush - Flatbush,2005,2.3
20,130699,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,208,Canarsie - Flatlands,2005,2.4
21,130700,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,209,Bensonhurst - Bay Ridge,2005,2.8
22,130701,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,210,Coney Island - Sheepshead Bay,2005,2.4
23,130702,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,211,Williamsburg - Bushwick,2005,2.8
24,130703,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,301,Washington Heights,2005,4.1
25,130704,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,302,Central Harlem - Morningside Heights,2005,3.9
26,130705,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,303,East Harlem,2005,4.2
27,130706,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,304,Upper West Side,2005,3.9
28,130707,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,305,Upper East Side,2005,4.5
29,130708,646,Air Toxics Concentrations- Average Benzene Con...,Average Concentration,UHF42,306,Chelsea - Clinton,2005,4.9
...,...,...,...,...,...,...,...,...,...
378,151731,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,206,Borough Park,2005,1.1
379,151732,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,207,East Flatbush - Flatbush,2005,0.9
380,151733,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,208,Canarsie - Flatlands,2005,0.4
381,151734,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,209,Bensonhurst - Bay Ridge,2005,1.0
382,151735,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,210,Coney Island - Sheepshead Bay,2005,0.6
383,151736,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,211,Williamsburg - Bushwick,2005,0.5
384,151737,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,301,Washington Heights,2005,1.6
385,151738,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,302,Central Harlem - Morningside Heights,2005,0.9
386,151739,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,303,East Harlem,2005,2.1
387,151740,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,304,Upper West Side,2005,1.9
388,151741,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,305,Upper East Side,2005,2.9
389,151742,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,306,Chelsea - Clinton,2005,3.4
390,151743,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,307,Gramercy Park - Murray Hill,2005,4.4
391,151744,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,308,Greenwich Village - SoHo,2005,3.8
392,151745,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,309,Union Square - Lower East Side,2005,3.2
393,151746,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,310,Lower Manhattan,2005,1.6
394,151747,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,401,Long Island City - Astoria,2005,1.2
395,151748,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,402,West Queens,2005,2.0
396,151749,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,403,Flushing - Clearview,2005,1.2
397,151750,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,404,Bayside - Little Neck,2005,2.0
398,151751,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,405,Ridgewood - Forest Hills,2005,1.0
399,151752,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,406,Fresh Meadows,2005,2.1
400,151753,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,407,Southwest Queens,2005,1.4
401,151754,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,408,Jamaica,2005,0.6
402,151755,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,409,Southeast Queens,2005,0.5
403,151756,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,410,Rockaways,2005,0.2
404,151757,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,501,Port Richmond,2005,0.3
405,151758,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,502,Stapleton - St. George,2005,0.8
406,151759,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,503,Willowbrook,2005,0.8
407,151760,645,Traffic Density- Annual Vehicle Miles Traveled...,Per 100 km2,UHF42,504,South Beach - Tottenville,2005,0.3

In [382]:
df1 = pd.DataFrame(aq,columns=["id","indicator","geotype","entityid","entityname","year","value"])

In [220]:
print(max(AQ.indicator_id))

667

In [330]:
g1 = aq.groupby( [ "name"] ).geo_entity_name.count()
g1

name
Air Toxics Concentrations- Average Benzene Concentrations          48
Air Toxics Concentrations- Average Formaldehyde Concentrations     48
Boiler Emissions- Total NOx Emissions                              48
Boiler Emissions- Total PM2.5 Emissions                            48
Boiler Emissions- Total SO2 Emissions                              48
Traffic Density- Annual Vehicle Miles Traveled (VMT)               56
Traffic Density- Annual Vehicle Miles Traveled (VMT) for Cars      56
Traffic Density- Annual Vehicle Miles Traveled (VMT) for Trucks    56
Name: geo_entity_name, dtype: int64

In [349]:
g2= aq.groupby([ "name"]).data_valuemessage.mean()    
g2

name
Air Toxics Concentrations- Average Benzene Concentrations           2.910417
Air Toxics Concentrations- Average Formaldehyde Concentrations      3.195833
Boiler Emissions- Total NOx Emissions                              56.300000
Boiler Emissions- Total PM2.5 Emissions                             1.660417
Boiler Emissions- Total SO2 Emissions                              14.231250
Traffic Density- Annual Vehicle Miles Traveled (VMT)               30.451786
Traffic Density- Annual Vehicle Miles Traveled (VMT) for Cars      28.580357
Traffic Density- Annual Vehicle Miles Traveled (VMT) for Trucks     1.630357
Name: data_valuemessage, dtype: float64

In [332]:
g3= aq.groupby(["geo_entity_name"]).data_valuemessage.max()    
print(g3)

geo_entity_name
Bayside - Little Neck                    33.8
Bedford Stuyvesant                       26.0
Bedford Stuyvesant - Crown Heights       33.8
Bensonhurst - Bay Ridge                  26.5
Borough Park                             34.8
Bronx                                    50.6
Brooklyn                                 26.3
Bushwick                                 13.9
Canarsie - Flatlands                     16.0
Central Harlem                           31.4
Central Harlem - Morningside Heights     82.1
Chelsea - Clinton                       204.8
Coney Island - Sheepshead Bay            23.7
Crotona -Tremont                         62.5
Crown Heights North                      26.4
Downtown - Heights - Slope               41.7
East Flatbush - Flatbush                 33.5
East Harlem                              59.3
East New York                            20.1
Flushing - Clearview                     19.6
Flushing Bay Terrace                     20.9
Fordham - Bronx Pk                       71.0
Fresh Meadows                            34.3
Gramercy Park - Murray Hill             284.7
Greenpoint                               30.2
Greenwich Village - SoHo                132.5
High Bridge - Morrisania                 78.0
Hunts Point - Mott Haven                 36.8
Jamaica                                  19.4
Kingsbridge - Riverdale                  42.5
Long Island City - Astoria               30.6
Lower Manhattan                         118.7
Manhattan                               161.1
Midtown Business District                52.6
New York City                            29.4
Northeast Bronx                          33.8
Pelham - Throgs Neck                     24.9
Port Richmond                             7.7
Queens                                   24.4
Ridgewood - Forest Hills                 26.3
Rockaways                                 6.1
South Beach - Tottenville                 6.2
Southeast Queens                         26.4
Southwest Queens                         21.9
Stapleton - St. George                   13.9
Staten Island                            10.4
Sunset Park                              30.7
Union Square - Lower East Side          126.1
Upper East Side                         269.8
Upper West Side                         247.9
Washington Heights                      115.3
West Queens                              40.8
Williamsburg - Bushwick                  27.8
Willowbrook                              13.1
Name: data_valuemessage, dtype: float64

In [203]:
g4= aq.groupby(["year_description"]).data_valuemessage.max()    
print(g4)

year_description
2005     78.6
2013    284.7
Name: data_valuemessage, dtype: float64

In [199]:
#5
conditions = [
    (aq['geo_entity_id'] < 100) & (aq['geo_entity_id'] > 0 ) ,
    (aq['geo_entity_id'] < 200) & (aq['geo_entity_id'] > 100 ) ,
    (aq['geo_entity_id'] < 300) & (aq['geo_entity_id'] > 200 ) ,
    (aq['geo_entity_id'] < 400) & (aq['geo_entity_id'] > 300 ) ,
    (aq['geo_entity_id'] < 500) & (aq['geo_entity_id'] > 400 ) ,
    (aq['geo_entity_id'] < 600) & (aq['geo_entity_id'] > 500 ) ,]
choices = ['ZoneA', 'ZoneB', 'ZoneC','ZoneD','ZoneE','ZoneF']

aq['ZoneName'] = np.select(conditions, choices )
aq[['geo_entity_id', 'ZoneName']]

     geo_entity_id ZoneName
0                1    ZoneA
1                2    ZoneA
2                3    ZoneA
3                4    ZoneA
4                5    ZoneA
5                1    ZoneA
6              101    ZoneB
7              102    ZoneB
8              103    ZoneB
9              104    ZoneB
10             105    ZoneB
11             106    ZoneB
12             107    ZoneB
13             201    ZoneC
14             202    ZoneC
15             203    ZoneC
16             204    ZoneC
17             205    ZoneC
18             206    ZoneC
19             207    ZoneC
20             208    ZoneC
21             209    ZoneC
22             210    ZoneC
23             211    ZoneC
24             301    ZoneD
25             302    ZoneD
26             303    ZoneD
27             304    ZoneD
28             305    ZoneD
29             306    ZoneD
..             ...      ...
378            206    ZoneC
379            207    ZoneC
380            208    ZoneC
381            209    ZoneC
382            210    ZoneC
383            211    ZoneC
384            301    ZoneD
385            302    ZoneD
386            303    ZoneD
387            304    ZoneD
388            305    ZoneD
389            306    ZoneD
390            307    ZoneD
391            308    ZoneD
392            309    ZoneD
393            310    ZoneD
394            401    ZoneE
395            402    ZoneE
396            403    ZoneE
397            404    ZoneE
398            405    ZoneE
399            406    ZoneE
400            407    ZoneE
401            408    ZoneE
402            409    ZoneE
403            410    ZoneE
404            501    ZoneF
405            502    ZoneF
406            503    ZoneF
407            504    ZoneF

[408 rows x 2 columns]

In [381]:
#6
s = pd.Series('Measure')

0    Measure
dtype: object

In [212]:
#7
conditions = [
(aq['data_valuemessage'] < 10)]
choices = ['purify']
aq['Purely'] = np.select(conditions, choices )
aq[['indicator_data_id', 'Purely']]

     indicator_data_id  Purely
0               130728  purify
1               130729  purify
2               130730  purify
3               130731  purify
4               130732  purify
5               130727  purify
6               130685  purify
7               130686  purify
8               130687  purify
9               130688  purify
10              130689  purify
11              130690  purify
12              130691  purify
13              130692  purify
14              130693  purify
15              130694  purify
16              130695  purify
17              130696  purify
18              130697  purify
19              130698  purify
20              130699  purify
21              130700  purify
22              130701  purify
23              130702  purify
24              130703  purify
25              130704  purify
26              130705  purify
27              130706  purify
28              130707  purify
29              130708  purify
..                 ...     ...
378             151731  purify
379             151732  purify
380             151733  purify
381             151734  purify
382             151735  purify
383             151736  purify
384             151737  purify
385             151738  purify
386             151739  purify
387             151740  purify
388             151741  purify
389             151742  purify
390             151743  purify
391             151744  purify
392             151745  purify
393             151746  purify
394             151747  purify
395             151748  purify
396             151749  purify
397             151750  purify
398             151751  purify
399             151752  purify
400             151753  purify
401             151754  purify
402             151755  purify
403             151756  purify
404             151757  purify
405             151758  purify
406             151759  purify
407             151760  purify

[408 rows x 2 columns]

In [230]:
g8 = aq.indicator_data_id.count()
print(g8)

408

In [353]:
#9
aq9=aq[aq.Measure.str.startswith('Per km2')]
aq9

,indicator_data_id,indicator_id,name,Measure,geo_type_name,geo_entity_id,geo_entity_name,year_description,data_valuemessage
96,130536,642,Boiler Emissions- Total NOx Emissions,Per km2,Borough,1,Bronx,2013,42.7
97,130537,642,Boiler Emissions- Total NOx Emissions,Per km2,Borough,2,Brooklyn,2013,22.8
98,130538,642,Boiler Emissions- Total NOx Emissions,Per km2,Borough,3,Manhattan,2013,161.1
99,130539,642,Boiler Emissions- Total NOx Emissions,Per km2,Borough,4,Queens,2013,16.1
100,130540,642,Boiler Emissions- Total NOx Emissions,Per km2,Borough,5,Staten Island,2013,2.7
101,130535,642,Boiler Emissions- Total NOx Emissions,Per km2,Citywide,1,New York City,2013,29.4
102,130493,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,101,Kingsbridge - Riverdale,2013,42.5
103,130494,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,102,Northeast Bronx,2013,33.8
104,130495,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,103,Fordham - Bronx Pk,2013,71.0
105,130496,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,104,Pelham - Throgs Neck,2013,24.9
106,130497,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,105,Crotona -Tremont,2013,62.5
107,130498,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,106,High Bridge - Morrisania,2013,78.0
108,130499,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,107,Hunts Point - Mott Haven,2013,36.8
109,130500,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,201,Greenpoint,2013,18.9
110,130501,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,202,Downtown - Heights - Slope,2013,32.0
111,130502,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,203,Bedford Stuyvesant - Crown Heights,2013,31.7
112,130503,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,204,East New York,2013,14.7
113,130504,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,205,Sunset Park,2013,13.4
114,130505,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,206,Borough Park,2013,34.8
115,130506,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,207,East Flatbush - Flatbush,2013,33.5
116,130507,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,208,Canarsie - Flatlands,2013,6.7
117,130508,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,209,Bensonhurst - Bay Ridge,2013,26.5
118,130509,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,210,Coney Island - Sheepshead Bay,2013,23.7
119,130510,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,211,Williamsburg - Bushwick,2013,27.8
120,130511,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,301,Washington Heights,2013,115.3
121,130512,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,302,Central Harlem - Morningside Heights,2013,82.1
122,130513,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,303,East Harlem,2013,55.8
123,130514,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,304,Upper West Side,2013,247.9
124,130515,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,305,Upper East Side,2013,269.8
125,130516,642,Boiler Emissions- Total NOx Emissions,Per km2,UHF42,306,Chelsea - Clinton,2013,204.8
...,...,...,...,...,...,...,...,...,...
210,130409,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,206,Borough Park,2013,1.5
211,130410,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,207,East Flatbush - Flatbush,2013,2.3
212,130411,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,208,Canarsie - Flatlands,2013,0.0
213,130412,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,209,Bensonhurst - Bay Ridge,2013,1.7
214,130413,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,210,Coney Island - Sheepshead Bay,2013,0.9
215,130414,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,211,Williamsburg - Bushwick,2013,0.3
216,130415,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,301,Washington Heights,2013,51.0
217,130416,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,302,Central Harlem - Morningside Heights,2013,15.7
218,130417,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,303,East Harlem,2013,11.6
219,130418,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,304,Upper West Side,2013,99.7
220,130419,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,305,Upper East Side,2013,95.0
221,130420,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,306,Chelsea - Clinton,2013,67.4
222,130421,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,307,Gramercy Park - Murray Hill,2013,78.8
223,130422,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,308,Greenwich Village - SoHo,2013,32.9
224,130423,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,309,Union Square - Lower East Side,2013,24.9
225,130424,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,310,Lower Manhattan,2013,13.7
226,130425,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,401,Long Island City - Astoria,2013,6.7
227,130426,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,402,West Queens,2013,2.3
228,130427,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,403,Flushing - Clearview,2013,5.1
229,130428,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,404,Bayside - Little Neck,2013,1.6
230,130429,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,405,Ridgewood - Forest Hills,2013,2.7
231,130430,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,406,Fresh Meadows,2013,4.3
232,130431,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,407,Southwest Queens,2013,0.8
233,130432,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,408,Jamaica,2013,0.5
234,130433,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,409,Southeast Queens,2013,0.3
235,130434,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,410,Rockaways,2013,0.0
236,130435,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,501,Port Richmond,2013,0.0
237,130436,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,502,Stapleton - St. George,2013,0.4
238,130437,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,503,Willowbrook,2013,0.0
239,130438,640,Boiler Emissions- Total SO2 Emissions,Per km2,UHF42,504,South Beach - Tottenville,2013,0.0

In [359]:
#10
g10= [aq.groupby(["name"]).data_valuemessage.max()]
g10

[name
 Air Toxics Concentrations- Average Benzene Concentrations            6.3
 Air Toxics Concentrations- Average Formaldehyde Concentrations       5.3
 Boiler Emissions- Total NOx Emissions                              284.7
 Boiler Emissions- Total PM2.5 Emissions                             11.4
 Boiler Emissions- Total SO2 Emissions                               99.7
 Traffic Density- Annual Vehicle Miles Traveled (VMT)                78.6
 Traffic Density- Annual Vehicle Miles Traveled (VMT) for Cars       72.8
 Traffic Density- Annual Vehicle Miles Traveled (VMT) for Trucks      4.4
 Name: data_valuemessage, dtype: float64]

In [357]:
aq.Zone

AttributeError: 'DataFrame' object has no attribute 'Zone'

In [279]:
dict = {0: "ZoneA", 1: "ZoneB", 2: "ZoneC",3: "ZoneD",4: "ZoneE",5: "ZoneA"}
zone = aq.geo_entity_id/100
zone

0      0.01
1      0.02
2      0.03
3      0.04
4      0.05
5      0.01
6      1.01
7      1.02
8      1.03
9      1.04
10     1.05
11     1.06
12     1.07
13     2.01
14     2.02
15     2.03
16     2.04
17     2.05
18     2.06
19     2.07
20     2.08
21     2.09
22     2.10
23     2.11
24     3.01
25     3.02
26     3.03
27     3.04
28     3.05
29     3.06
       ...
378    2.06
379    2.07
380    2.08
381    2.09
382    2.10
383    2.11
384    3.01
385    3.02
386    3.03
387    3.04
388    3.05
389    3.06
390    3.07
391    3.08
392    3.09
393    3.10
394    4.01
395    4.02
396    4.03
397    4.04
398    4.05
399    4.06
400    4.07
401    4.08
402    4.09
403    4.10
404    5.01
405    5.02
406    5.03
407    5.04
Name: geo_entity_id, Length: 408, dtype: float64

In [198]:
conditions = [
    (aq['geo_entity_id'] < 100) & (aq['geo_entity_id'] > 0 ) ,
    (aq['geo_entity_id'] < 200) & (aq['geo_entity_id'] > 100 ) ,
    (aq['geo_entity_id'] < 300) & (aq['geo_entity_id'] > 200 ) ,
    (aq['geo_entity_id'] < 400) & (aq['geo_entity_id'] > 300 ) ,
    (aq['geo_entity_id'] < 500) & (aq['geo_entity_id'] > 400 ) ,
    (aq['geo_entity_id'] < 600) & (aq['geo_entity_id'] > 500 ) ,]
choices = ['ZoneA', 'ZoneB', 'ZoneC','ZoneD','ZoneE','ZoneF']

aq['ZoneName'] = np.select(conditions, choices )
aq[['geo_entity_id', 'ZoneName']]

     geo_entity_id ZoneName
0                1    ZoneA
1                2    ZoneA
2                3    ZoneA
3                4    ZoneA
4                5    ZoneA
5                1    ZoneA
6              101    ZoneB
7              102    ZoneB
8              103    ZoneB
9              104    ZoneB
10             105    ZoneB
11             106    ZoneB
12             107    ZoneB
13             201    ZoneC
14             202    ZoneC
15             203    ZoneC
16             204    ZoneC
17             205    ZoneC
18             206    ZoneC
19             207    ZoneC
20             208    ZoneC
21             209    ZoneC
22             210    ZoneC
23             211    ZoneC
24             301    ZoneD
25             302    ZoneD
26             303    ZoneD
27             304    ZoneD
28             305    ZoneD
29             306    ZoneD
..             ...      ...
378            206    ZoneC
379            207    ZoneC
380            208    ZoneC
381            209    ZoneC
382            210    ZoneC
383            211    ZoneC
384            301    ZoneD
385            302    ZoneD
386            303    ZoneD
387            304    ZoneD
388            305    ZoneD
389            306    ZoneD
390            307    ZoneD
391            308    ZoneD
392            309    ZoneD
393            310    ZoneD
394            401    ZoneE
395            402    ZoneE
396            403    ZoneE
397            404    ZoneE
398            405    ZoneE
399            406    ZoneE
400            407    ZoneE
401            408    ZoneE
402            409    ZoneE
403            410    ZoneE
404            501    ZoneF
405            502    ZoneF
406            503    ZoneF
407            504    ZoneF

[408 rows x 2 columns]

In [295]:

aq9=aq[aq.Measure.str.startswith('Per km2')]
conditions = [
(aq9['Measure'] == 'Per km2')]
choices = ['data_valuemessage']
aq9['Per 100km2'] = np.select(conditions, choices )
aq9[['indicator_data_id', 'Per 100km2']]

C:\Users\Dell\Anaconda3\envs\rstudio\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     indicator_data_id         Per 100km2
96              130536  data_valuemessage
97              130537  data_valuemessage
98              130538  data_valuemessage
99              130539  data_valuemessage
100             130540  data_valuemessage
101             130535  data_valuemessage
102             130493  data_valuemessage
103             130494  data_valuemessage
104             130495  data_valuemessage
105             130496  data_valuemessage
106             130497  data_valuemessage
107             130498  data_valuemessage
108             130499  data_valuemessage
109             130500  data_valuemessage
110             130501  data_valuemessage
111             130502  data_valuemessage
112             130503  data_valuemessage
113             130504  data_valuemessage
114             130505  data_valuemessage
115             130506  data_valuemessage
116             130507  data_valuemessage
117             130508  data_valuemessage
118             130509  data_valuemessage
119             130510  data_valuemessage
120             130511  data_valuemessage
121             130512  data_valuemessage
122             130513  data_valuemessage
123             130514  data_valuemessage
124             130515  data_valuemessage
125             130516  data_valuemessage
..                 ...                ...
210             130409  data_valuemessage
211             130410  data_valuemessage
212             130411  data_valuemessage
213             130412  data_valuemessage
214             130413  data_valuemessage
215             130414  data_valuemessage
216             130415  data_valuemessage
217             130416  data_valuemessage
218             130417  data_valuemessage
219             130418  data_valuemessage
220             130419  data_valuemessage
221             130420  data_valuemessage
222             130421  data_valuemessage
223             130422  data_valuemessage
224             130423  data_valuemessage
225             130424  data_valuemessage
226             130425  data_valuemessage
227             130426  data_valuemessage
228             130427  data_valuemessage
229             130428  data_valuemessage
230             130429  data_valuemessage
231             130430  data_valuemessage
232             130431  data_valuemessage
233             130432  data_valuemessage
234             130433  data_valuemessage
235             130434  data_valuemessage
236             130435  data_valuemessage
237             130436  data_valuemessage
238             130437  data_valuemessage
239             130438  data_valuemessage

[144 rows x 2 columns]